services:
  neko-rooms:
    image: crypticstack/neko-rooms:latest
    restart: unless-stopped
    environment:
      TZ: UTC
      NEKO_ROOMS_MUX: "true"
      NEKO_ROOMS_EPR: 59000-59049
      NEKO_ROOMS_NAT1TO1: ${NEKO_ROOMS_NAT1TO1:-}
      NEKO_ROOMS_INSTANCE_NETWORK: neko-rooms-net
      NEKO_ROOMS_TRAEFIK_ENABLED: "false"
      NEKO_ROOMS_PATH_PREFIX: /room/
      NEKO_ROOMS_STORAGE_ENABLED: "true"
      NEKO_ROOMS_STORAGE_INTERNAL: /data
      NEKO_ROOMS_STORAGE_EXTERNAL: /opt/neko-rooms/data
      NEKO_ROOMS_NEKO_IMAGES: |
        crypticstack/neko:xfce
        crypticstack/neko:kde
    ports:
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - neko-rooms-data:/opt/neko-rooms/data
    networks:
      - neko-rooms-net

  neko-demo:
    profiles: ["demo"]
    image: crypticstack/neko:xfce
    restart: unless-stopped
    shm_size: 2gb
    environment:
      NEKO_DESKTOP_SCREEN: 1920x1080@30
      NEKO_MEMBER_MULTIUSER_USER_PASSWORD: neko
      NEKO_MEMBER_MULTIUSER_ADMIN_PASSWORD: admin
      NEKO_WEBRTC_EPR: 52000-52100
      NEKO_WEBRTC_ICELITE: "1"
    ports:
      - "8090:8080"
      - "52000-52100:52000-52100/udp"
    networks:
      - neko-rooms-net

networks:
  neko-rooms-net:
    name: neko-rooms-net
    driver: bridge
    attachable: true

volumes:
  neko-rooms-data:
